ci:
  autofix_prs: true
  autoupdate_schedule: quarterly
  submodules: false
  skip: [badgie]

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-ast
      - id: check-yaml
      - id: check-toml
      - id: check-merge-conflict
      - id: mixed-line-ending
      - id: check-case-conflict
      - id: check-added-large-files
      - id: sort-simple-yaml
        files: .pre-commit-config.yaml
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.15.0
    hooks:
##      - id: ruff-format
      - id: ruff-check
        types: [file]
        types_or: [python, pyi, toml]
        args: ["--show-fixes"]
##  - repo: https://github.com/adhtruong/mirrors-typos
##    rev: v1.43.4
##    hooks:
##      - id: typos
